
@{
	ViewBag.Title = "Editare Materie";
}

<h2>@ViewBag.Title</h2>

<form method="post" action="/Subject/Edit/@ViewBag.Project.ProjectId">

	@Html.HttpMethodOverride(HttpVerbs.Put)

	<label>Nume materie</label>
	<br /> <input type="text" name="ProjectName" value="@ViewBag.Project.ProjectName" />
	<br /><br />

	<button class="btn btn-success" type="submit">Modifica materia</button>
</form>

