


<h2>Listă materii</h2>

<h2>@TempData["message"]</h2>

@foreach (var subject in ViewBag.Proiektzele)
{
    <p>@subject.SubjectName</p>
    <a class="btn btn-success butonash" href="/Subject/Show/@subject.SubjectId">Afișare materie</a>



    <br />

    <hr />
    <br />
}
<br />
<a class="btn btn-info" href="/Subject/New">Adaugă o nouă materie</a>
<br />

