
@{
	ViewBag.Title = "Adăugare Materie";
}



<h2>Adaugare Materie</h2>

<form method="post" action="/Subject/New">

	<label>Nume materie</label>
	<br />
	<input type="text" name="ProjectName" />
	<br /><br />
	<button class="btn btn-success" type="submit">Adauga materie</button>
</form>

