@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<style>
    body {
        background-image: url("/forgotPasswordConfirmation.jpg");
        margin: 0;
        width: 100%;
        height: 100%;
        backgroud-repeat: no-repeat;
        background-size: cover;
    }
</style>
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
