@{
    ViewBag.Title = "Reset password confirmation";
}
<style>
    body {
        background-image: url("/26145256.jpg");
        margin: 0;
        width: 100%;
        height: 100%;
        backgroud-repeat: no-repeat;
        background-size: cover;
    }
</style>
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
